<body>

<main role="main" class="container">

  <div class="row">

    <div class="col-sm-8 blog-main">

      <!--test innterhtml here-->
      <!--<div [innerHTML]="blogSelected.html_code"></div>-->

      <!--Blog content to be display here (get html from mongoDB)-->
      <div [innerHTML]="htmlToDisplay"></div>
      <!--End of Blog content to be display here (get html from mongoDB)-->

      <nav class="blog-pagination">
        <a class="btn btn-outline-primary" routerLink="/homenew">Home</a>
      </nav>
      <br>

    </div>
    <!-- /.blog-main -->


    <!-- ตรงนี้ใส่ประวัติสั้นๆส่วนตัวเด็ดๆ -->
    <aside class="col-sm-3 ml-sm-auto blog-sidebar">
      <div class="sidebar-module sidebar-module-inset">
        <h4>About</h4>
        <p>Tawatchai Phetdumrongsakul</p>
        <em>คนธรรมดา ที่เคยอยู่ในสภาวะตกต่ำที่สุดในชีวิต ณ เวลานั้น สิ่งเดียวที่ต้องการคือแรงบันดาลใจ</em>
        <em>ผมเพียงหวังว่าบทความของผม จะสามารถสร้างแรงบันดาลใจให้กับผู้อ่าน</em>

      </div>
      <div class="sidebar-module">
        <h4>Archives</h4>
        <ol class="list-unstyled">
          <li>
            <a href="#">March 2014</a>
          </li>
          <li>
            <a href="#">February 2014</a>
          </li>
          <li>
            <a href="#">January 2014</a>
          </li>
          <li>
            <a href="#">December 2013</a>
          </li>
          <li>
            <a href="#">November 2013</a>
          </li>
          <li>
            <a href="#">October 2013</a>
          </li>
          <li>
            <a href="#">September 2013</a>
          </li>
          <li>
            <a href="#">August 2013</a>
          </li>
          <li>
            <a href="#">July 2013</a>
          </li>
          <li>
            <a href="#">June 2013</a>
          </li>
          <li>
            <a href="#">May 2013</a>
          </li>
          <li>
            <a href="#">April 2013</a>
          </li>
        </ol>
      </div>
      <div class="sidebar-module">
        <h4>Elsewhere</h4>
        <ol class="list-unstyled">
          <li>
            <a href="#">GitHub</a>
          </li>
          <li>
            <a href="#">Twitter</a>
          </li>
          <li>
            <a href="#">Facebook</a>
          </li>
        </ol>
      </div>
    </aside>
    <!-- /.blog-sidebar -->

  </div>


</main>
<!-- /.container -->

</body>
