<body>

<main role="main" class="container">

  <div class="row">

    <div class="col-sm-8 blog-main">

      <!--test innterhtml here-->
      <!--<div [innerHTML]="calendar"></div>-->

      <!--Blog content to be display here (get html from mongoDB)-->
      <div class="blog-post">
        <h2 class="blog-post-title">เครื่อง ล้างรถหยอดเหรียญ</h2>
        <p class="blog-post-meta">April 14, 2018 by
          <a href="#">Tawatchai Phetdumrongsakul</a>
        </p>


        <img src="../../assets/images/carwash/carwash2.jpg" class="oversize"/>
        <h3>ตู้สำเร็จรูป สำหรับเครื่องล้างรถหยอดเหรียญ</h3>
        <ol class="list-unstyled">
          <li>
            - ฉีดน้ำ
          </li>
          <li>
            - ฉีดโฟมหิมะ
          </li>
          <li>
            - เป่าลม
          </li>
          <li>
            - แจ้งเตือนผู้ใช้งานผ่าน Line Notification
          </li>
          <li>
            - แจ้งปัญหาเครื่องขัดข้องผ่าน Line เพื่อดูให้แน่ใจว่าเครื่องให้บริการลูกค้าได้ตามปกติ
          </li>
          <li>
            - รับได้ทุกเหรียญ (หรือสามารถแจ้งได้ว่าต้องการให้รับแต่เหรียญ 5 หรือเหรียญ 10 ก็สามารถโปรแกรมได้)
          </li>
          <li>
            - สามารถโปรแกรมตามใจลูกค้าได้ เช่นจะให้แถม 1 บาทเมื่อหยอดเหรียญ 10
          </li>
          <li>
            - เพิ่ม/ลดระยะเวลาของการจ่ายน้ำและโฟมตามความต้องการของลูกค้า
          </li>
        </ol>
        <br>

        <img src="../../assets/images/carwash/carwash4.jpg" class="oversize"/>
        <p>ตัวอย่างผู้ใช้งาน ผลิตโฟมหิมะได้หนาๆ</p>
        <br>

        <img src="../../assets/images/carwash/carwash1.jpg" class="oversize"/>
        <p>มอเตอร์ไซด์ก็มาล้างกันเยอะเหมือนกันนะ</p>
        <br>

        <img src="../../assets/images/carwash/carwash3.jpg" class="oversize"/>
        <p>สำหรับลูกค้าที่ต้องการประหยัดงบ ทางเรามีชุดแผงวงจรแยกขายในราคาประหยัด เพื่อนำไปประกอบในตู้ที่ออกแบบเอง (เพราะต้นทุนที่แพงหลักๆคือโครงตู้)</p>
        <br>

        <img src="../../assets/images/carwash/carwash6.jpg" class="oversize"/>
        <p>ตัวอย่างการแจ้งเตือนผ่านมือถือผ่าน Line <br>
          โดยในที่นี้ผมมีตู้ที่ติดตั้งสีเขียว (Green) และสีเหลือง (Yellow)<br>
          เครื่องจะทำการแจ้งเตือนเมื่อมีลูกค้ามาใช้งาน
        </p>
        <br>


        <img src="../../assets/images/carwash/carwash5.jpg" class="oversize"/>
        <p>แถมรูปรถสะอาดวิ้งๆหลังใช้งาน</p>

        <div>ราคาเริ่มต้นชุดประหยัดสุดอยู่ที่ 9900 บาท<br>
          ฟังก์ชั่นต่างๆเลือกได้ตามความต้องการของลูกค้า<br>
          เช่นถ้าต้องการประหยัดหน่อยเอาแต่แผงวงจรและชุดสำหรับฉีดน้ำ<br>
          หรือต้องการใช้งานแบบครบทุกฟังก์ชั่น ฉีดน้ำ, โฟมหิมะ, เป่าลม, แจ้งเตือนผ่านมือถือ<br>
          <br>
          ติดต่อสอบถามเพิ่มเติมได้ที่<br>
          ธวัชชัย<br>
          mobile: 084-672-6496ำ<br>
          line id : pomtcom<br>
        </div>

      </div>
      <!--End of Blog content to be display here (get html from mongoDB)-->

      <nav class="blog-pagination">
        <a class="btn btn-outline-primary" href="#">Home</a>
      </nav>
      <br>

    </div>
    <!-- /.blog-main -->


    <!-- ตรงนี้ใส่ประวัติสั้นๆส่วนตัวเด็ดๆ -->
    <aside class="col-sm-3 ml-sm-auto blog-sidebar">
      <div class="sidebar-module sidebar-module-inset">
        <h4>About</h4>
        <p>Tawatchai Phetdumrongsakul</p>
        <em>คนธรรมดา ที่เคยอยู่ในสภาวะตกต่ำที่สุดในชีวิต ณ เวลานั้น สิ่งเดียวที่ต้องการคือแรงบันดาลใจ</em>
        <em>ผมเพียงหวังว่าบทความของผม จะสามารถสร้างแรงบันดาลใจให้กับผู้อ่าน</em>

      </div>
      <div class="sidebar-module">
        <h4>Archives</h4>
        <ol class="list-unstyled">
          <li>
            <a href="#">March 2014</a>
          </li>
          <li>
            <a href="#">February 2014</a>
          </li>
          <li>
            <a href="#">January 2014</a>
          </li>
          <li>
            <a href="#">December 2013</a>
          </li>
          <li>
            <a href="#">November 2013</a>
          </li>
          <li>
            <a href="#">October 2013</a>
          </li>
          <li>
            <a href="#">September 2013</a>
          </li>
          <li>
            <a href="#">August 2013</a>
          </li>
          <li>
            <a href="#">July 2013</a>
          </li>
          <li>
            <a href="#">June 2013</a>
          </li>
          <li>
            <a href="#">May 2013</a>
          </li>
          <li>
            <a href="#">April 2013</a>
          </li>
        </ol>
      </div>
      <div class="sidebar-module">
        <h4>Elsewhere</h4>
        <ol class="list-unstyled">
          <li>
            <a href="#">GitHub</a>
          </li>
          <li>
            <a href="#">Twitter</a>
          </li>
          <li>
            <a href="#">Facebook</a>
          </li>
        </ol>
      </div>
    </aside>
    <!-- /.blog-sidebar -->

  </div>


</main>
<!-- /.container -->

</body>
