<body>

<main role="main" class="container">

  <div class="row">

    <div class="col-sm-8 blog-main">

      <!--test innterhtml here-->
      <!--<div [innerHTML]="blogSelected.html_code"></div>-->

      <!--Blog content to be display here (get html from mongoDB)-->
      <!--<div [innerHTML]="htmlToDisplay"></div>-->
      <!--End of Blog content to be display here (get html from mongoDB)-->
      <div class="sidebar-module sidebar-module-inset">
        <p>Tawatchai Phetdumrongsakul</p>
        <p>ปัจจุบันทำงานสาย Solution Architect ให้กับธนาคาร</p>

        <em>คนธรรมดา ที่เคยอยู่ในสภาวะตกต่ำที่สุดในชีวิต ณ เวลานั้น สิ่งเดียวที่ต้องการคือแรงบันดาลใจ</em>
        <em>ผมเพียงหวังว่าบทความของผม จะสามารถสร้างแรงบันดาลใจให้กับผู้อ่าน</em>
        <br>
        <br>




        <p>content ที่เขียนตอนนี้ยังไม่มีแนวที่แน่ชัด เอาเป็นว่าตอนนี้คิดอะไรออกก็เขียนๆไป บ่นไปเรื่อย
          <br>แต่อนาคตคิดว่าคงจะแยกเป็นหมวดหมู่ชัดเจน ระหว่างแรงบันดาลใจในชีวิต กับความรู้ทาง IT
          <br>หากท่านชอบใจ สามารถติดตามผมเพิ่มได้จากช่องทางต่อไปนี้
        </p>


        <h4>Contact</h4>
        <ol class="list-unstyled">
          <li>
            <a href="https://www.linkedin.com/in/tawatchai-phetdumrongsakul-b92a6012b/">Linkedin</a>
          </li>
          <li>
            <a href="https://www.facebook.com/pomtcom">Facebook</a>
          </li>
        </ol>

      </div>

      <nav class="blog-pagination">
        <a class="btn btn-outline-primary" routerLink="/home">Home</a>
      </nav>
      <br>

    </div>
    <!-- /.blog-main -->

  </div>


</main>
<!-- /.container -->

</body>
