<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="../../../../favicon.ico">
  <title>regblogs.info</title>
</head>


<body>

<header>

  <div class="navbar navbar-dark bg-dark">
    <div class="container d-flex justify-content-between">
      <nav class="navbar-brand">
        <a class="navbar-brand active" routerLink="/home" routerLinkActive="active">Home</a>
        <a class="navbar-brand" routerLink="/blogs" routerLinkActive="active">blogs</a>
        <a class="navbar-brand" routerLink="/aboutme" routerLinkActive="active">About me</a>
      </nav>
    </div>
  </div>

  <router-outlet></router-outlet>


</header>

</body>

<!-- Footer -->
<footer class="py-5 bg-dark">
  <div class="container">
    <p class="m-0 text-center text-white">regblogs.info</p>
    <p class="m-0 text-center text-white">Tawatchai Phetdumrongsakul</p>
  </div>
  <!-- /.container -->
</footer>
