<body>

<main role="main" class="container">

  <div class="row">

    <div class="col-sm-8 blog-main">

      <!--test innterhtml here-->
      <div [innerHTML]="calendar"></div>

      <!--Blog content to be display here (get html from mongoDB)-->
      <div class="blog-post">
        <h2 class="blog-post-title">ทำงานมา 4 ปี ค้นพบอะไรบ้าง? ผมจะเล่าให้ฟัง</h2>
        <p class="blog-post-meta">January 2, 2018 by
          <a href="#">Tawatchai Phetdumrongsakul</a>
        </p>

        <p>สวัสดีครับ เนื่องด้วยวันนี้เป็นครบรอบ 4 ปี ที่ผมเริ่มต้นชีวิตการทำงานมนุษย์เงินเดือนมา (เริ่มต้นเมื่อ 1 มิถุนายน
          2013) วันนี้จึงอยากมาเล่าให้ทุกคนฟังครับ ว่าผมค้นพบ และเห็นสัจธรรมในชีวิตอะไรบ้าง
        </p>

        <p>ผมอยู่ในยุคของการที่มีแต่คนพูดถึงการเป็นนายตัวเอง โดยให้ลาออกมาทำกิจการของตัวเอง หรือการทำ startup และจะสามารถเห็นข้อความเกี่ยวกับข้อเสียของการเป็นมนุษย์เงินเดือนได้เป็นประจำ
          ผมคงไม่ขอแสดงความคิดเห็นขัดแย้งเกี่ยวกับข้อความเหล่านั้น ซึ่งบุคคลที่ได้ออกมาเป็นนายตัวเองแล้วประสบความสำเร็จนั้น
          ผมก็ยินดีด้วย คุณเก่งมากๆครับ
        </p>

        <p>ผมเองก็เป็นคนหนึ่งซึ่งเคยเห็นด้วยกับความคิดเห็นเหล่านี้ และพยายามที่จะออกจากวงจรการเป็นลูกจ้าง เพื่อหาทางออกมา
          แต่สุดท้ายผมก็ตัดสินใจที่จะไม่ออก เพราะอะไรหละ? เดี๋ยวผมจะเล่าให้ฟัง</p>

        <p>เหตุผลหลักๆ ก็คือ ผมคิดว่าตัวผมเองนั้นยังต้องเรียนรู้อีกมากกว่าที่จะออกมาเป็นนายตัวเองได้ (ว่าง่ายๆก็ยังไม่แกร่งพอนั่นแหละ)
          แต่การที่จะออกมาเพื่อเรียนรู้ให้ตัวเองแกร่งพอ มันคงไม่สามารถดำรงชีวิตอยู่ได้ (เพราะชีวิตนั้นมีรายจ่าย ไหนจะค่าอาหาร
          ค่าเดินทาง ค่าอุปกรณ์ประกอบอาชีพ และยังอีกมากมาย)</p>


        <p>ผมจึงเริ่มต้นคิดว่า จะมีทางไหนที่จะทำให้ผมสามารถเรียนรู้ได้ และได้เงินดำรงชีพไปพร้อมๆกัน.. แล้วผมก็ค้นพบแล้วว่าการเป็นมนุษย์เงินเดือนนี่หละ
          ที่คุณจะสามารถเรียนรู้และพัฒนาตัวเองได้ และยังได้ตังใช้ทุกเดือนอีก.. แมร่_งโคตรสุดยอดไปเลยว่าไหมหล่ะ</p>

        <p>ขอย้อนความไปก่อนว่าสาเหตุที่ผมเริ่มมีความคิดในการลาออกก่อนค้นพบความเจ๋งของชีวิตมนุษย์เงินเดือนนั้น มันเกิดจากการที่ผมรู้สึกว่าชีวิตเป็นเครื่องจักร
          ต้องถูกบังคับให้ทำอะไรๆเพื่อแลกมาซึ่งการได้รับเงิน ถ้าทุกคุณที่อ่านมาถึงข้อความตรงนี้ ผมอยากให้ทุกคุณลองคิดดู
          ว่าทุกคุณรู้สึกเหมือนผมในอดีตนี้หรือไม่? ถ้าคุณรู้สึก ผมจะบอกว่างานที่คุณทำอยู่นั้น ไม่เหมาะกับคุณจริงๆ คุณต้องหางานที่คุณทำแล้วรู้สึกว่าคุณได้ใช้ชีวิต
          นั่นคือส่วนหนึ่งของชีวิตคุณ และคุณไม่เสียใจเลยที่เวลาในชีวิตของคุณที่เหลืออยู่นั่นถูกแบ่งไปให้กับการทำงาน (ถ้าคุณรู้สึกอย่างข้อหลังนี้
          ยินดีด้วย คุณได้ทำงานที่ใช่ และคุณมีความสุขกับมันแล้ว)</p>

        <p>
          <b>บุคคลมีชื่อเสียงและประสบความสำเร็จหลายๆคุณ ได้เคยบอกวิถีแห่งการก้าวหน้า ซึ่งผมได้อ่านจากหลายๆคน และขอสรุปในส่วนที่ทุกคุณบอกมาคล้ายๆกันให้ฟัง
            โดยผมจะขอเน้นในส่วนของสิ่งที่คุณควรจะหลีกหนีออกมาให้เร็วที่สุดในชีวิตของมนุษย์เงินเดือนดังนี้
          </b>
        </p>


        <ol>
          <li>1. ไม่มีเป้าหมายในชีวิต คุณตอบตัวเองไม่ได้ว่าอีก 3 ปี 5 ปี คุณมองตัวเองในชีวิตการทำงานนี้ต่อไปอย่างไร ต่อให้คุณทำงานได้ดี
            ได้รับเหรทติ้งสูงๆในแต่ละปี แต่คุณไม่สามารถมองเป้าหมายของคุณได้ เลวร้ายไปใหญ่ ยิ่งถ้าคุณถามหัวหน้า หรือผู้บังคับบัญชาของคุณแล้วเขาให้คำตอบคุณไม่ได้
            (ข้อนี้ผมว่าเลวร้ายที่สุด และควรจะต้องหาทางออกให้เร็วโดยไว)</li>
          <li>2. งานที่ไม่ได้พัฒนาตัวเอง คุณไม่สามารถตอบได้ว่า คุณจะเก่งขึ้นได้อย่างไร หรือค่าตัวของคุณในอีกห้าปี จะมีทางมากกว่านี้ได้อย่างไร</li>
          <li>3. เพื่อนร่วมงานที่ใกล้ชิดกับคุณ อยู่ในกลุ่มของข้อ 1 และ 2 – ผมคงไม่ขอไปก้าวก่ายในชีวิตของแต่ละคน บางคนอาจจะตั้งเป้าหมายของชีวิตไว้ต่างกัน
            บางคนอาจจะขอทำงานแบบสบายๆ และให้เวลากับครอบครัว ซึ่งนั่นผมก็ไม่ได้เถียงว่าข้อคิดของเขาเหล่านั้นผิด แต่ผมจะแนะนำคุณที่ต้องการความก้าวหน้าในชีวิตของตัวคุณเอง
            หากคุณมีเพื่อนร่วมงานสายตรงกับคุณที่มีแนวคิดแบบนี้ ผมว่าคุณมีแนวโน้มสูงที่จะถูกหล่อหลอมกลายเป็นเช่นเดียวกับเขา</li>
        </ol>

        <p>
          <b>และเช่นกัน สิ่งที่ถ้าคุณเป็นมนุษย์เงินเดือนไม่ควรทำโดยเด็ดขาด</b>
        </p>

        <ol>
          <li>คิดว่าตัวเองเป็นคนสำคัญขององค์กร – ข้อนี้สำคัญมาก ต่อให้ท่านเป็นเมเนเจอร์ เป็น technical lead เป็นคน implement
            และค้นพบทุกอย่าง ให้ท่านตระหนักไว้เสมอว่า เขาสามารถหาคนมาทำแทนท่านได้อยู่แล้ว (ก็เขามีตังหนิ) ต่อให้ผู้บริหารลาออกก็เถอะ
            ผมไม่เถียงว่าอาจจะเกิดปัญหาบ้างในช่วงแรกที่ไม่มีท่าน แต่ยังไงในระยะยาว องค์กรแก้ปัญหาได้อยู่แล้ว</li>
          <li>
            ไม่คิดจะพัฒนาตัวเอง และไม่คิดถึงเป้าหมายของตัวเอง – เช่นเดียวกับข้อความข้างบนที่คุณได้อ่านมาแล้ว ความเจ๋งของมนุษย์เงินเดือน
            คือคุณจะได้เก่งขึ้น และค่าตัวของคุณก็แพงขึ้นเรื่อยๆ ฉะนั้นผมไม่แนะนำให้คุณทิ้งโอกาสเหล่านี้
          </li>
          <li>
            การไม่ได้เลื่อนขั้น ไม่ใช่ความล้มเหลวในชีวิตของคุณ – หยุดเสียใจซะ เพราะนั่นอาจเป็นการบอกว่าท่านไม่เหมาะกับสิ่งนั้น คุณอาจจะเจอองค์กรและงานที่คุณทำได้ดีกว่า
            และทางองค์กรใหม่นั้นก็เห็นความสามารถของคุณ
          </li>
        </ol>

        <p>
          นี่ก็เป็นแค่เพียงส่วนหนึ่งในความคิดของผมที่ผมอยากจะแบ่งปันทุกท่าน ผมเคยประสบปัญหาและรู้สึกว่าตัวเองอยู่จุดที่ต่ำสุดในชีวิต
          ผมเคยทำงานแทบตายและคิดว่าตัวเองเป็นคนสำคัญ และหวังกับการโปรโมทเอาไว้มากๆ สุดท้ายผมก็ต้องค้นพบกับความผิดหวัง และเห็นรุ่นน้องแซงหน้า
          เห็นเพื่อนที่ตัดสินใจเรียนต่อ ได้รับปริญญาโท ปริญญาเอก ผมจะบอกว่าสิ่งเหล่านี้เป็นแค่เรื่องธรรมดา อย่างที่บอกว่าคุณอาจจะไม่เหมาะกับจุดๆนั้น
          ไม่ต้องเสียใจหรอก ลองมองหาโอกาสใหม่ๆดู อีกทั้งผมเคยอยู่ใน comfort zone ที่ทำงานไปวันๆ งานอะไรก็สามารถทำได้ (ก็เรียนรู้ทุกอย่างหมดแล้วนี่)
          และก็ไม่พัฒนาตัวเองเลย หนึ่งปีผ่านไปผมมองเพื่อนๆก้าวหน้า ผมจึงคิดว่าผมคงต้องทำอะไรซักอย่างแล้ว
        </p>

        <p>
          สุดท้ายนี้ผมแค่จะมาเล่าให้ทุกคนฟัง ว่าหาให้เจอ ซักวันคุณต้องเจองานที่คุณรัก หน้าที่การงานกับตำแหน่งนั้นมันเป็นแค่เพียงส่วนเล็กๆของนิยามความสำเร็จ
          สำหรับผมแล้วการได้ทำงานที่ตัวเองมีความสุขมากกว่าที่ทำให้ผมประสบความสำเร็จ และสิ่งหนึ่งที่ท่านควรจะต้องมีคือแรงบันดาลใจ
          หากท่านเก่งให้ตาย เก่งวัวตายควายล้ม ท่านก็ไม่สามารถประสบความสำเร็จได้ หากท่านไม่มีแรงบันดาลใจ
        </p>

        <p>
          ขอให้ทุกท่านโชคดี สวัสดีครับ..
        </p>

        <p>

        </p>


      </div>
      <!--End of Blog content to be display here (get html from mongoDB)-->

      <nav class="blog-pagination">
        <a class="btn btn-outline-primary" href="#">Home</a>
      </nav>
      <br>

    </div>
    <!-- /.blog-main -->


    <!-- ตรงนี้ใส่ประวัติสั้นๆส่วนตัวเด็ดๆ -->
    <aside class="col-sm-3 ml-sm-auto blog-sidebar">
      <div class="sidebar-module sidebar-module-inset">
        <h4>About</h4>
        <p>Tawatchai Phetdumrongsakul</p>
        <em>คนธรรมดา ที่เคยอยู่ในสภาวะตกต่ำที่สุดในชีวิต ณ เวลานั้น สิ่งเดียวที่ต้องการคือแรงบันดาลใจ</em>
        <em>ผมเพียงหวังว่าบทความของผม จะสามารถสร้างแรงบันดาลใจให้กับผู้อ่าน</em>

      </div>
      <div class="sidebar-module">
        <h4>Archives</h4>
        <ol class="list-unstyled">
          <li>
            <a href="#">March 2014</a>
          </li>
          <li>
            <a href="#">February 2014</a>
          </li>
          <li>
            <a href="#">January 2014</a>
          </li>
          <li>
            <a href="#">December 2013</a>
          </li>
          <li>
            <a href="#">November 2013</a>
          </li>
          <li>
            <a href="#">October 2013</a>
          </li>
          <li>
            <a href="#">September 2013</a>
          </li>
          <li>
            <a href="#">August 2013</a>
          </li>
          <li>
            <a href="#">July 2013</a>
          </li>
          <li>
            <a href="#">June 2013</a>
          </li>
          <li>
            <a href="#">May 2013</a>
          </li>
          <li>
            <a href="#">April 2013</a>
          </li>
        </ol>
      </div>
      <div class="sidebar-module">
        <h4>Elsewhere</h4>
        <ol class="list-unstyled">
          <li>
            <a href="#">GitHub</a>
          </li>
          <li>
            <a href="#">Twitter</a>
          </li>
          <li>
            <a href="#">Facebook</a>
          </li>
        </ol>
      </div>
    </aside>
    <!-- /.blog-sidebar -->

  </div>


</main>
<!-- /.container -->

</body>
